<section ng-app="app">
    <header>
        <h1> Codify </h1>
        <nav>
            <div> Tab </div>
            <div> Tab </div>
            <div> Tab </div>
            <div> Tab </div>
        </nav>
    </header>

    <div ui-view></div>
</section>
