<section ng-app="app">
    <header>
        <h1> Codify </h1>
        <nav>
           <a ui-sref="landing"> Home </a> 
           <a ui-sref="landing"> About </a> 
           <a ui-sref="landing"> Code Schools </a> 
           <a ui-sref="landing"> Contact </a> 
        </nav>
    </header>

    <div ui-view></div>
</section>
