<section ng-app="app">
    <header>
        <h1> Codify </h1>
        <nav ng-controller="landingCtrl">
           <a ui-sref="landing"> Home </a> 
           <a ui-sref="about"> About </a> 
           <a ui-sref="codeSchools"> Code Schools </a> 
          <div> 
            <i ng-mouseenter="show = true" ng-mouseleave="show = false" ng-click="logoutClick()" class="fa fa-angle-double-down fa-3x"></i> 
          </div>
        </nav>
    </header>

    <div class="container-fluid" ui-view></div>
</section>
