<section class="add-student">
	<h1> Add Student </h2>
	<form class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
		<div class="form-group">
			<label for="student-name">Student's Name </label>
			<input ng-model="studentName" type="text" class="form-control" id="student-name" placeholder="Student Name">
			<span class="error-text" ng-bind="nameErrorMsg"> </span>
		</div>
		<div class="form-group">
			<label for="student-email">Student's Email </label>
			<input ng-model="studentEmail" type="text" class="form-control" id="student-email" placeholder="Email">
			<span class="error-text" ng-bind="emailErrorMsg"> </span>
		</div>
		<select ng-change="getProgramID(programSelected)" ng-model="programSelected">
  			<option ng-repeat="program in suitesInProgram">{{ program.name }}</option>
		</select>
		<p class="error-text" ng-bind="programErrorMsg"> </p>
		<div class="centered">
			<button ng-click="addStudent(studentName, studentEmail, programSelected)" type="submit" class="btn btn-default add-student-btn"> Add Student </button>
		</div>
	</form>
</section>