<section class='code-schools'>
	<h1> Check Out Some Code Schools </h1>
	<p> Just a smattering of code schools, more are springing up everyday. If you're interested in breaking into the tech industry and getting started in a whole new career, check these places out. </p>

	<nav>
		<div class="dojo">  </div> 
		<div class="flat">  </div> 
		<div class="ga">  </div> 
		<div class="makers">  </div> 
		<div class="boot">  </div> 
		<div class="hack">  </div> 
		<div class="iron">  </div> 
	</nav>
</section>