<section class="manage-students">
	<section class="header">
		<h1> Student Management </h1>
		<h2 ng-bind="programName"></h2>
		<select ng-change="changeName(programSelected)" ng-model="programSelected">
			<option ng-repeat="program in schoolPrograms track by $index">{{ program }}</option>
		</select>
	</section>
	<table ng-show="allTableShow" class="table table-hover table-bordered">
		<tr>
			<th> Student </th>
			<th ng-repeat="suites in suitesInProgram">{{ suites.name }}</th>
		</tr>
		<tr ng-repeat="student in studentsInProgram">
			<td class="student" ng-click="studentResults(student.name)"> {{ student.name }} </td>
			<td ng-repeat="suite in suitesInProgram">
				<i ng-show="student[suite.id] === true" class="fa fa-check-circle-o"> </i>
				<i ng-show="student[suite.id] === false" class="fa fa-times-circle-o" > </i> 
			</td>
		</tr>
	</table>
	<div>
		<div class="error-message" ng-bind="message"> </div>
	</div>
</section>