<section class="manage-programs">
	<h1> Program Management </h1>
	<div>
		<p> Here you can manage the programs that your school offers. Just enter the different programs or tracks you offer and click add. For example, you might add "Front End Development", "Web Design", "Python" or "iOS Development". </p>
		<div>
			<input ng-model="programAdded" type="text" placeholder="Program You Offer"> 
			<button ng-click="addProgram(programAdded)"> 
				<i class="fa fa-plus"></i> Add Program
			</button>
			<p class="program-display" ng-repeat="program in programs track by $index"> {{ program }} </p>
			<div>
				<button ng-click="saveClick()"> Save </button>
			</div>
		</div>
	</div>
</section>