<section class="manage-students">
	<section class="header">
		<h1> Student Management </h1>
		<h2 ng-bind="programName"> No Program Selected </h2>
		<select ng-change="changeName(programSelected)" ng-model="programSelected">
			<option> Front End Development </option>
			<option> Ruby on Rails </option>
			<option> Web Development & Design </option>
		</select>
	</section>
	<table>
		<tr>
			<th> Student</th>
			<th> Javascript </th>
			<th> Mac OSX Command Line </th>
			<th> Networking Basics </th>
			<th> Finished </th>
		</tr>
		<tr>
			<td class="student" ng-click="studentResults('Travis Czerw')"> Travis Czerw </td>
			<td> <i class="fa fa-check-circle-o "></i> </td>
			<td> <i class="fa fa-check-circle-o "></i> </td>
			<td> <i class="fa fa-times-circle-o "></i> </td>
			<td> <i class="fa fa-times-circle-o "></i> </td>
		</tr>
		<tr>
			<td class="student" ui-sref="studentResults"> Jacob Burkhart </td>
			<td> <i class="fa fa-check-circle-o "></i> </td>
			<td> <i class="fa fa-times-circle-o "></i> </td>
			<td> <i class="fa fa-times-circle-o "></i> </td>
			<td> <i class="fa fa-times-circle-o "></i> </td>
		</tr>
		<tr>
			<td class="student" ui-sref="studentResults"> Student McStudent </td>
			<td> <i class="fa fa-check-circle-o "></i> </td>
			<td> <i class="fa fa-check-circle-o "></i> </td>
			<td> <i class="fa fa-check-circle-o "></i> </td>
			<td> <i class="fa fa-check-circle-o "></i> </td>
		</tr>
		<tr>
			<td class="student" ui-sref="studentResults"> Student McClassFace </td>
			<td> <i class="fa fa-times-circle-o "></i> </td>
			<td> <i class="fa fa-times-circle-o "></i></td>
			<td> <i class="fa fa-check-circle-o "></i> </td>
			<td> <i class="fa fa-times-circle-o "></i> </td>
		</tr>
	</table>
</section>