<section class="school-register">
	<h1> Register A New School </h1>
	<form ng-submit="schoolRegister(username, email, password)" class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		<label for="user-name"> School Name </label>
		<input class="form-control" ng-model="username" id="user-name" type="text" placeholder="School Name">
		<p ng-bind="nameErrorMsg"> </p>
		<label for="email-input"> Email </label>
		<input class="form-control" ng-model="email" type="text" id="email-input" placeholder="Email">
		<p ng-bind="emailErrorMsg"> </p>
		<label for="password-input"> Password </label>
		<input class="form-control" ng-model="password" type="password" id="password-input" placeholder="Must be at least 8 characters">
		<p ng-bind="passErrorMsg"> </p>
		<div class="centered">
			<button class="btn btn-default centered"> Register New Code School </button>
			<p ng-bind="registerErrorMsg"> </p>
		</div>
	</form>
</section>
