<section class="student-dash">
	<h2> Welcome [name] </h2>
	<p> You are here because you've been accepted into a code school and are about to embark on a new journey.Congratulations! [School Name] has selected a set of simple assessment tests for you to complete so they can better understand the basic skill set you are bringing into class. This helps them tailor their cirriculum and course work to better suit the needs of you and your fellow classmates. Just click on a test below to get started. </p> 
	<button ng-click="testClick(0)" class="test"> Terminal Line Assessment </button>
	<button ng-click="testClick(1)" class="test"> JavaScript Assessment </button>
</section>