header {
	background-color: rgb(66,66,66);
	position:relative;

	nav {
		font-size:0;
	}

	h1 {
		color: white;
		font-family: 'Monofett';
		text-align: center;
		padding:0.2em 1em;
		font-size:4.5em;
	}

	a {
		font-size:16px;
		display:inline-block;
		padding:1em 2em;
		color:white;
		text-decoration: none;
	}

	a:visited {
    	color:white;
	}

	a:hover {
		background-color:grey;
		color:white;
		border-bottom:none;
		text-decoration: none;
	}

	div {
		font-size:16px;
		float:right;
		position: relative;
		top:-7.5em;
		margin-top:1em;
		margin-right:1em;
		color:white;
	}

	div:hover {
		color:#ff9900;
	}

	ul {
		color:white;
	}

	li {
		text-align:left;
		width:10%;
	}
}

html, body {
	background-color:rgb(233,233,233);
}

input:not([type=submit]):not([type=file]) {
		font-size:1.4em;
   		border: 5px solid white; 
    	-webkit-box-shadow: 
      	inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    	-moz-box-shadow: 
     		inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
   		box-shadow: 
    		inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    	padding: 15px;
    	background: rgba(255,255,255,0.5);
    	margin: 0 0 10px 0;
}	