html, body {
	background-color:rgb(233,233,233);
	background-color: #FFF;

	p, h1, h2, h3, span {
		font-family: 'Roboto', sans-serif;
	}
}

.blue {
	text-shadow:-1px -1px 0 #2C7982;
	background-color: rgb(50,183,187);
	border:1px solid #379AA4;
	background-image:-webkit-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-moz-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-ms-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:-o-linear-gradient(top, #48C6D4, #3EACBA);
	background-image:linear-gradient(top, #48C6D4, #3EACBA);
	
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
	
	-webkit-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
	box-shadow:0 1px 0 rgba(255, 255, 255, .5) inset, 0 -1px 0 rgba(255, 255, 255, .1) inset, 0 4px 0 #338A94, 0 4px 2px rgba(0, 0, 0, .5);
}

.blue:hover {
	color:white;
	background: #48C6D4;
	background-image:-webkit-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-moz-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-ms-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:-o-linear-gradient(top, #3EACBA, #48C6D4);
	background-image:linear-gradient(top, #3EACBA, #48C6D4);
}

header {
	background-color: rgb(66,66,66);
	position:relative;

	nav {
		font-size:0;
	}

	h1 {
		color: white;
		font-family: 'Monofett';
		text-align: center;
		padding:0.2em 1em;
		font-size:4.5em;
	}

	a {
		font-size:16px;
		display:inline-block;
		padding:1em 2em;
		color:white;
		text-decoration: none;
	}

	a:visited {
    	color:white;
	}

	a:hover {
		background-color:grey;
		color:white;
		border-bottom:none;
		text-decoration: none;
	}

	div {
		font-size:16px;
		float:right;
		position: relative;
		top:-7.5em;
		margin-top:1em;
		margin-right:1em;
		color:white;
	}

	div:hover {
		color:#ff9900;
	}

	ul {
		color:white;
	}

	li {
		text-align:left;
		width:10%;
	}
}