.school-login {

	.register-button {
		margin-top:2em;
	}

	form {
		margin-top:2em;
	}

	label {
		font-weight:700;
		margin-bottom:0.4em;
	}

	p {
		margin-top:0.5em;
		color: #c9462c
	}

	button {
		font-size:1.2em;
	}

	#noShadowBtn {
		text-shadow:none;
	}
}