.student-dash {
	margin-bottom:2em;

	.test-display {
		padding:1em 1em;
		box-shadow:1px 1px 1px black;
		margin-top:1em;
		margin-bottom:1em;
		text-align:center;
		border-radius:5px;
		display:block;
		cursor:pointer;
		background-color:white;
		font-size:1.5em;
		background: #ffaf4b; /* Old browsers */
		background: -moz-linear-gradient(top,  #ffaf4b 0%, #ff920a 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffaf4b), color-stop(100%,#ff920a)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #ffaf4b 0%,#ff920a 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #ffaf4b 0%,#ff920a 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffaf4b', endColorstr='#ff920a',GradientType=0 ); /* IE6-9 */
	}

	.test-display:hover {
		color:white;
	}

	.warning {
		margin-top:1em;
		font-size:1.5em;
		text-align: center;
		color: #c9462c;
	}

	.success {
		font-size:1.5em;
		text-align: center;
	}

	a {
		color:black;
		text-decoration: none;
	}

	h2 {
		margin-top:1em;
		margin-bottom:0.5em;
		text-align:center;
		font-size:2em;
	}

	h3 {
		text-align:center;
		font-size:1.5em;
		margin-bottom:1.2em;
	}

	p {
		text-indent: 50px;
		line-height:1.6em;
		font-size:1.4em;
		float:none;
		margin:0 auto;
	}

	div {
		margin:0 auto;
		overflow:hidden;
	}

	span {
		color: #379AA4;
		text-shadow: 1px 1px 1px black;
	}

	button {
		float:none;
		margin:0 auto;
		border: none;
	}
}

