.student-dash {

	.test {
		padding:1em 1em;
		border: 1px solid black;
		margin:0 auto;
		margin-top:2.5em;
		text-align:center;
		width:30%;
		border-radius:5px;
		display:block;
		cursor:pointer;
		background-color:white;
		font-size:1.5em;
	}

	a {
		color:black;
		text-decoration: none;
	}
}