.code-schools {

	h1 {
		font-size:2em;
		text-align:center;
		margin:1em 0;
	}

	h2 {
		font-size:1.5em;
		text-align: center;
		margin:0.4em 0;
	}

	div {
		margin-top:2em;
		margin-right:1em;
		margin-left:1em;
		width:10em;
		height:10em;
		display:inline-block;
	}

	.dojo {
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/coding_dojo.png');
	}

	.flat {
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/flatiron-school-logo.png');
	}

	.iron {
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/the-iron-yard-logo.png');	
	}

	.ga {
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/General_Assembly_logo.png');
	}

	.makers {
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/makers.png');
	}

	.boot {
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/logo.png');
	}

	.hack {
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/logo@2x.png');
	}

	.think {
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/think.png');
	}

	.launch {
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/launch.png');
	}

	.anyone {
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url('../images/anyone.png');
	}
}