header {
	background-color: rgb(66,66,66);
	border-bottom:1px solid black;

	h1 {
		color: white;
		text-align: center;
		padding:1em 1em;
		padding-bottom:0.5em;
		font-size:2em;
	}

	a {
		display:inline-block;
		padding:1em 2em;
		color:white;
		border:1px solid white;
		border-bottom:none;
		text-decoration: none;
	}

	a:hover {
		background-color:grey;
	}

	button {
		float:right;
	}
}

body {
	background-color:rgb(233,233,233);
}