html, body {
	background-color:rgb(233,233,233);

	p, h1, h2, h3, span {
		font-family: 'Roboto', sans-serif;
	}
}

header {
	background-color: rgb(66,66,66);
	position:relative;

	nav {
		font-size:0;
	}

	h1 {
		color: white;
		font-family: 'Monofett';
		text-align: center;
		padding:0.2em 1em;
		font-size:4.5em;
	}

	a {
		font-size:16px;
		display:inline-block;
		padding:1em 2em;
		color:white;
		text-decoration: none;
	}

	a:visited {
    	color:white;
	}

	a:hover {
		background-color:grey;
		color:white;
		border-bottom:none;
		text-decoration: none;
	}

	div {
		font-size:16px;
		float:right;
		position: relative;
		top:-7.5em;
		margin-top:1em;
		margin-right:1em;
		color:white;
	}

	div:hover {
		color:#ff9900;
	}

	ul {
		color:white;
	}

	li {
		text-align:left;
		width:10%;
	}
}