/**
 * importer.less
 *
 * By default, new Sails projects are configured to compile this file
 * from LESS to CSS.  Unlike CSS files, LESS files are not compiled and
 * included automatically unless they are imported below.
 *
 * The LESS files imported below are compiled and included in the order
 * they are listed.  Mixins, variables, etc. should be imported first
 * so that they can be accessed by subsequent LESS stylesheets.
 *
 * (Just like the rest of the asset pipeline bundled in Sails, you can
 * always omit, customize, or replace this behavior with SASS, SCSS,
 * or any other Grunt tasks you like.)
 */
@import url(reset.css);
header {
  background-color: #333333; }
  header h1 {
    color: white;
    text-align: center;
    padding: 1em 1em;
    padding-bottom: 0.5em;
    font-size: 2em; }
  header a {
    display: inline-block;
    padding: 1em 2em;
    color: white;
    border: 1px solid white;
    border-bottom: none;
    text-decoration: none; }
  header div:hover {
    background-color: grey; }

.landing .wrapper {
  margin: 0 auto;
  margin-top: 3em;
  text-align: center;
  overflow: hidden;
  width: 50%; }
.landing div {
  float: left;
  margin: 1em 0.5em;
  padding: 2em 1em;
  border: 1px solid black;
  border-radius: 5px;
  width: 45%;
  box-sizing: border-box; }
.landing a {
  color: black; }

.school-login {
  margin: 0 auto;
  margin: 1em 1em;
  text-align: center; }

.student-login {
  margin: 0 auto;
  margin: 1em 1em;
  text-align: center; }

.school-register {
  margin: 0 auto;
  margin: 1em 1em;
  text-align: center; }

.student-dash .test {
  padding: 1em 1em;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 2.5em;
  text-align: center;
  width: 30%;
  border-radius: 5px;
  display: block;
  cursor: pointer;
  background-color: white;
  font-size: 1.5em; }
.student-dash a {
  color: black;
  text-decoration: none; }

.test {
  margin: 0 auto;
  margin: 1em 1em;
  text-align: center; }
  .test .wrapper {
    margin: 0 auto; }
  .test ul div {
    border: 1px solid black;
    padding: 1em 1em;
    margin: 1em auto;
    width: 20%; }
  .test ul div:hover {
    background-color: grey; }

.test-end {
  margin: 0 auto; }
  .test-end h1 {
    margin: 1.5em 0;
    font-size: 2em;
    text-align: center; }
  .test-end p {
    margin-bottom: 1em; }
  .test-end div {
    margin: 0 auto;
    text-align: center; }

.code-schools div {
  margin-top: 2em;
  width: 10em;
  height: 10em;
  display: inline-block; }
.code-schools .dojo {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/coding_dojo.png"); }
.code-schools .flat {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/flatiron-school-logo.png"); }
.code-schools .ga {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/General_Assembly_logo.png"); }
.code-schools .makers {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/makers.png"); }
.code-schools .boot {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/logo.png"); }
.code-schools .hack {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/logo@2x.png"); }
.code-schools .iron {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/the-iron-yard-logo.png"); }

.about h1 {
  font-size: 2em;
  margin: 1.5em 0;
  text-align: center; }
.about p {
  line-height: 1.4em;
  margin: 1em 0; }

/*# sourceMappingURL=importer.css.map */
