<section class='code-schools'>
	<h1> Check Out Some Code Schools </h1>
	<h2>  If you're interested in breaking into the tech industry and getting started in a whole new career, check these places out. </h2>
	<nav class="col-md-10 col-md-offset-1 col-lg-8 col-lg-offset-2">
		<a ng-href="http://www.codingdojo.com/"> 
			<div class="dojo"> </div> 
		</a> 
		<a ng-href="http://flatironschool.com/"> 
			<div class="flat">  </div> 
		</a>
		<a ng-href="http://theironyard.com/"> 
			<div class="iron">  </div> 
		</a>
		<a ng-href="https://generalassemb.ly/"> 
			<div class="ga">  </div> 
		</a>
		<a ng-href="http://www.makersquare.com/"> 
			<div class="makers">  </div> 
		</a>
		<a ng-href="http://devbootcamp.com/"> 
			<div class="boot">  </div> 
		</a>
		<a ng-href="http://www.hackreactor.com/"> 
			<div class="hack">  </div> 
		</a>
	</nav>
</section>