<section class="manage-students">
	<section class="header">
		<h1> Student Management </h1>
		<h2> No Program Selected </h2>
	</section>
	<table>
		<tr>
			<th> Student</th>
			<th> Test 1</th>
			<th> Test 2</th>
			<th> Test 3</th>
			<th> Finished </th>
		</tr>
		<tr>
			<td>Travis Czerw</td>
			<td> <button></button> </td>
			<td> <button></button> </td>
			<td> <button></button></td>
			<td> <button></button></td>
		</tr>
		<tr>
			<td>Jacob Burkhart</td>
			<td> <button></button></td>
			<td> <button></button></td>
			<td> <button></button></td>
			<td> <button></button></td>
		</tr>
	</table>
</section>