<section class="manage-students">
	<section class="header">
		<h1> Student Management </h1>
		<h2 ng-bind="programName"></h2>
		<select ng-change="changeName(programSelected)" ng-model="programSelected">
			<option ng-repeat="program in schoolPrograms track by $index">{{ program }}</option>
		</select>
	</section>
	<table ng-show="allTableShow" class="table table-hover table-bordered">
		<tr>
			<th> Student </th>
			<th ng-repeat="suites in suitesInProgram">{{ suites.name }}</th>
		</tr>
		<tr ng-repeat="student in studentsInProgram">
			<td class="student" ng-click="studentResults('Travis Czerw')"> {{ student }} </td>
			<td ng-repeat="suite in suitesInProgram">
				<i class="fa fa-check-circle-o">
				<!-- <i class="fa fa-check-circle-o " ng-show="student.answerCount[suite.id] >= suite.questions.length"></i> <i class="fa fa-times-circle-o" ng-show="student.answerCount[suite.id] < suite.questions.length"></i> -->
				<!-- {{suite.id.toString()}} ???? {{student.answerCount[suite.id.toString()]}} ???? {{suite.questions.length}} -->

				{{ isTestComplete(suite.id) ? 'show' : 'hide' }}
			</td>
		</tr>
	</table>
	<div>
		<div class="error-message" ng-bind="message"> </div>
	</div>
</section>