<section class="school-register">
	<form>
		<div>
			<h3> Enter your instution's name </h3>
			<input type="text" placeholder="School Name">
		</div>
		<div>
			<h3> Enter your email </h3>
			<input type="text" placeholder="Email">
		</div>
		<div>
			<h3> Enter the different programs or tracks you offer. For example, you might add "Front End Development", "Web Design", "Python" or "iOS Development". </h3>
			<input type="text" placeholder="Programs/Tracks You Offer">
		</div>
		<input type="password" placeholder="Password">
</section>