<section class="school-login">
	<form class="col-xs-12 col-md-8 col-md-offset-2 col-lg-7 col-lg-offset-4 row" ng-submit="schoolLogin(user.email, user.password)">
		<div class="form-group">
	 		<label for="inputEmail">Email address</label>
			<input class="form-control" ng-model="user.email" type="text" id="inputEmail" placeholder="Email">
			<p ng-bind="emailErrorMsg"> </p>
		</div>
		<div class="form-group">
			<label for="inputPassword">Password</label>
			<input class="form-control" ng-model="user.password" type="password" id="inputPassword" placeholder="Password">
			<p ng-bind="passErrorMsg"> </p>
		</div>
		<div class="text-center">
			<button class="btn btn-default "> Log In </button>
		</div>
	</form>
	<div class="text-center">
		<button type="button" class="btn btn-default register-button" ng-click="schoolRegisterClick()"> Register New Code School </button>
	</div>
	<h1 ng-bind="currentUser"> </h1>
</section>