<section class="student-results">
	<section class="header">
		<h1> Travis Czerw </h1>
	</section>
	<h2> Front End Development </h2>
	<div class="col-md-10 col-md-offset-1 progress-box">
		<p> JavaScript Assessment </p>
		<div class="progress">
        	<div aria-valuemax="100" aria-valuemin="0" aria-valuenow="60" class="progress-bar" role="progressbar">
            60%
       		</div>
     	</div>
		<p> Mac OSX Command Line </p>
		<div class="progress">
			<div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
			40%
			</div>
		</div>
		<p> Basics of Networking </p>
		<div class="progress">
			<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
			90%
			</div>
		</div>
	</div>

	<!-- <section class="results">
		<div class="results-row">
			<div class="test-name"></div>
			<div>
				<p class="category weak" title="Weak means a score of 25% or less"> Weak </p>
				<p class="category moderate" title="Moderate means a score between 25% and 75%"> Moderate </p>
				<p class="category last strong" title="Strong means a score of 75% or more"> Strong </p>
			</div>
		</div>
		<div class="results-row">
			<div class="test-name"> JavaScript Assessment: </div>
			<div class="stretchRight box">  </div>
		</div>
		<div class="results-row">
			<div class="test-name"> Mac OSX Command Line: </div>
			<div class="stretchRight box two"> </div>
		</div>
		<div class="results-row">
			<div class="test-name"> Basic Networking: </div>
			<div class="stretchRight box three">  </div>
		</div>
	</section> -->
</section>