<section class="test-end">
	<h1> You're all done! </h1>
	<p> First off - don't stress about how well you did. These questions are for your instructors to have a better grasp on your skills coming into program, not to disqualify or worry you. </p>
	<p> If there are more assessements assigned to you, you can return to the dashboard to complete them. </P>
	<p> If not, we wish you the best of luck on your journey as you enter your program. We look forward to seeing all the awesome things you come up with and build! Your input will be used by your school and instructors to help talior cirriculum and course work with the needs of you and your fellow students in mind. <p>
	<div>
		<button ng-click="buttonClick()"> Back to Dashboard </button>
	</div>
</section>